In [2]:
import numpy as np
import glob
import pandas as pd
import math
import pandas_profiling

In [3]:
df = pd.read_csv('sample.csv')

In [1]:
# df

In [5]:
df['sexo'].value_counts()

Mujer     26
Hombre    18
Name: sexo, dtype: int64

In [6]:
df['rango_edad'].value_counts()

36-45    17
26-35     8
46-55     6
65+       6
18-25     3
56-65     3
Name: rango_edad, dtype: int64

In [7]:
df['zona_residencia'].value_counts()

Urbano    39
Rural      6
Name: zona_residencia, dtype: int64

In [8]:
df['vereda_barrio'].value_counts()

San Jacinto     10
Carmelo          6
Centro           4
San Isidro       3
Danubio          3
Santa Lucia      2
Soleto           2
San Fernando     2
Progreso         2
Consolata        2
REVISAR *        1
Los Samanes      1
Santa Rosa       1
Name: vereda_barrio, dtype: int64

In [9]:
df['actividad_economica'].value_counts()

Hogar                        13
Empleado                     10
Empleado, Comerciante         2
Comerciante                   2
Independiente                 2
Mantenimiento general         1
Maestro                       1
Arquitecto                    1
Productor Agricola            1
Independiente (Ingeniero)     1
Auxiliar de enfermeria        1
Desempleado                   1
Name: actividad_economica, dtype: int64

In [10]:
df['maximo_grado_escolaridad'].value_counts()

Primaria         19
Secundaria       10
Tecnico           7
Universitario     7
Tecnologo         2
Posgrado          1
Name: maximo_grado_escolaridad, dtype: int64

In [11]:
df['problema_tocaima'].value_counts()

Falta de empleo                                          22
Inseguridad                                               6
Tecnificacion del campo                                   3
Inseguridad, Falta de empleo                              3
Todas                                                     3
Falta de empleo, Calidad de la educacion                  1
Tecnificacion del campo, Falta de empleo                  1
inseguridad                                               1
Inseguridad, Falta de empleo, Calidad en la educacion     1
Calidad de la educacion                                   1
Falta de empleo, Inseguridad                              1
REVISAR*                                                  1
Name: problema_tocaima, dtype: int64

In [12]:
df['color_favorito'].value_counts()

azul        10
blanco       8
verde        6
rojo         5
negro        5
amarillo     4
rosado       3
fucsia       1
Name: color_favorito, dtype: int64

In [13]:
df['precandidatos'].value_counts()

No                                                                                                11
Julian Mora                                                                                        1
Robinson Mora: Sencillo                                                                            1
Robinson: preopotente, crecido, Stephany: Es una mujer que nos va a representar bien el pueblo     1
Robinson: prepotente, Julian: Falta de liderazgo                                                   1
Julian Mora, Robinson Mora, Hernan Herrera                                                         1
Si, no tengo conocimiento aun de sus propuestas de trabajo                                         1
Conozco 3 pero ninguno me convence                                                                 1
Robinson Mora, Fabian Mora, Hernan Herrera                                                         1
Julian Mora, Robinson Mora, Hernan Herrera, Fernando Afanador                                      1
Mas o menos                                                                                        1
Julian Mora, Robinson Mora                                                                         1
Robinson Mora                                                                                      1
Toca escuchar la opinion de cada uno de ellos                                                      1
Name: precandidatos, dtype: int64

In [2]:
df['vota'].value_counts()

NameError: name 'df' is not defined

In [6]:
"hola | 208".split("|")[0].strip()

'hola'